:root {
  --border-radius: 2px;
  --space-lg: 2.5rem;
  --space-md: 1rem;
  --space-sm: 0.5rem;
  --control-background: rgb(128, 128, 128);
  --svg-overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans',  'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  background: rgb(50, 50, 50);

  display: flex;
  margin: 0;
  height: 100vh;
}

h1 {
  margin: 0 0 var(--space-lg);
}

.sidebar {
  width: 350px;
  padding: var(--space-md);
  overflow-y: scroll;

  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: -5px 0px 35px rgba(0,0,0, 0.9);
}

.control-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-md);
}

.row {
  display: flex;
  align-items: center;
}

.control {
  flex: 1;
  border-radius: var(--border-radius);
  border: none;
  background: var(--control-background);
  padding: var(--space-sm);
  min-width: 0;
}

input[type="color"].control {
  flex: 1 0 auto;
  max-width: 100px;
  min-height: var(--space-lg);
  margin-left: auto;
}

.control-group label {
  margin-bottom: var(--space-sm);
  font-weight: bold;
}

.row > *:not(:first-child) {
  margin-left: var(--space-sm);
}

.section {
  margin-bottom: var(--space-lg);
}

.wrapper {
  flex: 1;
  display: grid;
  place-content: center;
}

#canvas {
  overflow: var(--svg-overflow);
  background: white;
}

#status {
  margin-top: var(--space-sm);
  color: rgba(255, 255, 255, 0.7);
}

/* .main {
  margin: auto;
} */

.button-container {
  display: flex;
  justify-content: center;
  flex: 0;
}

.button {
  /* font-size: 1.2rem; */
  /* padding: 1rem 1.5rem; */
  /* border-radius: 2px; */
  /* background: hsl(17, 100%, 52%); */
  /* color: #fff; */
  /* border: 0; */
  text-decoration: none;
  cursor: pointer;
  /* font-family: sans-serif; */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.tile {
  animation: fadeIn 0.3s ease-in;
}

/* .button:first-child { margin-right: 1rem;} */
/* .button:hover { background: hsl(150, 50%, 20%); }
.button:active {
  background: hsl(150, 50%, 10%);
  transform: scale(0.98);
} */
